#navbar h3 {
  cursor: pointer;
  padding-bottom: 0.5rem;
}
#navbar h3:hover {
  color: #000;
}

#navbar .selected {
  color: #000;
  border-bottom: 2px solid #000;
}
#navbar {
  color: #646464;
  background-color: #fff;
}
